.container-fluid{
    background-color: WhiteSmoke;
}
h1{
    margin-top: -2%;
    text-align: center;
    font-weight: bold;
}

#logo{
    float: left;
    width: 8%;
    height: 55%; 
    margin-top: -10px;
    /* display: inline; */
}
.title{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#paint_grey{
    font-weight: 600;
    color: grey;   
}
#paint_lightgrey{
    font-weight: lighter;
    color: lightgrey;
}

#cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 512px;
}
.btn {
    position: absolute;
    color: black;
    background-color: lightskyblue;
    border-radius: 80px;
    width: 30%;
    left: 35%;
    right: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.large_text{
    color: darkslategray;
    font-size: 20px;
    font-weight: bold;
}
.blue_text{
    color: lightseagreen;
    font-weight: lighter;
    font-style: italic;
}
.small_text{
    color: darkslategray;
    font-size: 15px;
}
.icon{
    width: 80px;
    height: 90px;
    float: left;   
}
.tbl {  
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_space{
    margin-top: 2%;
}

.arrow-div {
	position: relative;
	background: #f1f1f1;
    border: 1px solid #DDDDDD;
    text-align: center; 
    font-style: italic;
    padding: 5px;
}
.arrow-div:after, .arrow-div:before {
	top: 100%;
    left: 95%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-div:after {
	border-color: rgba(241, 241, 241, 0);
	border-top-color: #f1f1f1;
	border-width: 22px;
	margin-left: -20px;
}
.arrow-div:before {
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #DDDDDD;
	border-width: 25px;
	margin-left: -27px;
}

#right{
    position: absolute;
    top:25%;
    left: 66%;
}

#left{
    position: absolute;
    top:25%;
    left: 10%;
}
footer{
    margin: none;
    padding: none;
    display: grid;
}
footer{
    display:grid;
    justify-content: space-between;
}
.background{
    background-color: grey;
}
.background_2{
    background-color:dimgray;
}

.fa {
    color: black;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    text-decoration: none;
    color: black;
    opacity: 0.7;
  }